
// ::ng-deep mat-form-field {
//     div {
//         width: 75%;
//     }
// }

.matFormField{
  ::ng-deep mat-form-field {
      div {
          width: 90%;
      } 
      margin-left: 8%;       
   } 
  }

table {
    width: 100%;
    text-align: center;
  }
  
  th {
    text-align: center;
  }
  
  tr.mat-footer-row {
    font-weight: bold;
  }


